# -*- mode: conf -*-
CompileFlags:
  Add: [ -xc, -std=gnu99 ]
  Compiler: gcc
Diagnostics:
  Suppress: [ -Wunused-function ]
---
If:
  PathMatch: src/.*\.h
CompileFlags:
  Add: [ -Wall, -Wextra, -Wpedantic, -Werror, -Wno-empty-translation-unit ]
  Compiler: gcc
---
If:
  PathMatch: src/impl.c
CompileFlags:
  Add: [ -Wall, -Wextra, -Wpedantic, -Werror ]
  Compiler: gcc
---
If:
  PathMatch: tests/.*\.c
CompileFlags:
  Add: [ -Wall, -Wextra ]
  Compiler: gcc
