# -*- mode: conf -*-
CompileFlags:
	Add: [ -xc, -std=gnu99, -Wall, -Wextra, -Wno-comments, -Wconversion, -Wcast-align, -Wvla, -Wno-override-init, -Wshadow ]
	Compiler: gcc
Diagnostics:
	Suppress: [ -Wunused-function ]
---
If:
	PathMatch: cbuild.c
CompileFlags:
	Add: [ -std=gnu99 ]
---
If:
  PathMatch: tests/.*\.c
CompileFlags:
  Add: [ -include, ../framework.h, -DTEST_RUN_PLATFORM="" ]
---
If:
	PathMatch: cbuild.h
CompileFlags:
	Add: [ -DCBUILD_IMPLEMENTATION ]
---
If:
	PathMatch: rglob.h
CompileFlags:
	Add: [ -DGLOB_IMPLEMENTATION ]
