# VSCode
.vscode
# clangd
.cache
# CBuild main gitnore
build/mull/
build/test/
build/mullw/
build/mull_lib/
build/mullw_lib/
build/cbuild_rebuild_build_script/
cache
test
# CBuild dev gitnore
CBuild build system prerequirments.rtf
CBuild/CBuild/libCBuild.so
CBuild/CBuild/libCBuild.so.*
Makefile
private_gpg_key.asc
private.pgp
doxygen/passwd
