# VSCode
.vscode
# clangd
.cache
# CBuild main gitnore
build
cache
test
# CBuild dev gitnore
CBuild/CBuild/libCBuild.so
CBuild/CBuild/libCBuild.so.*
Makefile
private_gpg_key.asc
private.pgp
doxygen/passwd
doxygen/wiki/site
