# The Docker image that will be used to build your app
image: alpine:edge
# Functions that should be executed before the build script is run
before_script:
    # Update repo
    - apk update
    - apk add gcc
    - apk add doxygen mkdocs
    - apk add clang18-extra-tools 
stages:
    - test
    - build
test:
    stage: test
    script: ./build.sh test
    rules:
        - if: $CI_PIPELINE_SOURCE == 'merge_request_event' 
        - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

build:
    stage: build
    script: ./build.sh pack
    rules:
        - if: $CI_PIPELINE_SOURCE == 'merge_request_event' 
        - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

pages:
    script:
        # Build doxygen
        - doxygen doxygen.conf
        # Copy doxygen to its directory
        - cp -r wiki/doxygen/html/* public/doxygen/
        # Build mkdocs wiki
        - mkdocs build
        # Copy mkdocs wiki to its directory
        - cp -r wiki/mkdocs/site/* public/
    artifacts:
        paths:
            # The folder that contains the files to be exposed at the Page URL
            - public
    rules:
        # This ensures that only pushes to the default branch will trigger
        # a pages deploy
        - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
