# VSCode
.vscode
# clangd
.cache
# CBuild main gitnore
build/**
cache
# CBuild dev gitnore
CBuild build system prerequirments.rtf
CBuild/CBuild/libCBuild.so
Makefile
private_gpg_key.asc
private.pgp
doxygen/passwd
