# Use arch to build, we are not dependant on compiler version
image: archlinux:base
# Install ase packages
before_script:
    # Update repo
    - pacman --noconfirm -Syyu
    - pacman --noconfirm -S bash
# Build stages
stages:
    - test
    - build
# Run all tests
test:
    stage: test
    script:
        - pacman --noconfirm -S gcc
        - pacman --noconfirm -S clang
        - ./build.sh test
    rules:
        - if: $CI_PIPELINE_SOURCE == 'merge_request_event' 
        - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
# Create cbuild.h header
build:
    stage: build
    script:
        - pacman --noconfirm -S gcc
        - pacman --noconfirm -S clang
        - ./build.sh pack
    rules:
        - if: $CI_PIPELINE_SOURCE == 'merge_request_event' 
        - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    artifacts:
        name: "$CI_COMMIT_REF_NAME"
        paths:
            - cbuild.h
# Build wiki
pages:
    script:
        # Install tools
        - pacman --noconfirm -S doxygen mkdocs
        # Create output directory
        - mkdir -p public
        - mkdir -p public/doxygen
        # Build doxygen
        - ./build.sh docs doxygen
        # Copy doxygen to its directory
        - cp -r wiki/doxygen/html/* public/doxygen/
        # Build mkdocs wiki
        - mkdocs build
        # Copy mkdocs wiki to its directory
        - cp -r wiki/mkdocs/site/* public/
    artifacts:
        paths:
            - public
    rules:
        - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH