# Use arch to build, we are not dependent on compiler version
image: debian:bookworm
# Build stages
stages:
    - test
    - build
# CI is non-interactive
variables:
  DEBIAN_FRONTEND: noninteractive
# Install base packages
before_script:
  - apt-get update -qq
  - apt-get install -yqq build-essential clang valgrind doxygen pandoc musl musl-tools
# Run all tests
test:
    stage: test
    script:
        - gcc cbuild.c -o cbuild.run
        - ./cbuild.run test
    rules:
        - if: $CI_PIPELINE_SOURCE == 'merge_request_event' 
        - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
# Build wiki
pages:
    stage: build
    script:
        - mkdir -p public
        - gcc cbuild.c -o cbuild.run
        - ./cbuild.run docs wiki
        - ./cbuild.run docs doxygen
        - cp -r wiki/out/* public/
    artifacts:
        paths:
            - public
    rules:
        - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH