# The Docker image that will be used to build your app
image: alpine:edge
# Functions that should be executed before the build script is run
before_script:
  # Update repo
  - apk update
  - apk add doxygen mkdocs
  # Create directory for a wiki and for a doxygen
  - mkdir public
  - mkdir public/doxygen
pages:
  script:
    # Build doxygen
    - doxygen doxygen.conf
    # Copy doxygen to its directory
    - cp -r wiki/doxygen/html/* public/doxygen/
    # Build mkdocs wiki
    - mkdocs build
    # Copy mkdocs wiki to its directory
    - cp -r wiki/mkdocs/site/* public/
  artifacts:
    paths:
      # The folder that contains the files to be exposed at the Page URL
      - public
  rules:
    # This ensures that only pushes to the default branch will trigger
    # a pages deploy
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
