# The Docker image that will be used to build your app
image: archlinux:base
# Functions that should be executed before the build script is run
before_script:
    # Update repo
    - pacman --noconfirm -Syyu
    - pacman --noconfirm -S bash
stages:
    - test
    - build
test:
    stage: test
    script:
        - pacman --noconfirm -S gcc
        - pacman --noconfirm -S clang
        - ./build.sh test
    rules:
        - if: $CI_PIPELINE_SOURCE == 'merge_request_event' 
        - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
build:
    stage: build
    script:
        - pacman --noconfirm -S gcc
        - pacman --noconfirm -S clang
        - ./build.sh pack
    rules:
        - if: $CI_PIPELINE_SOURCE == 'merge_request_event' 
        - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    artifacts:
        name: "$CI_COMMIT_REF_NAME"
        paths:
            - cbuild.h
pages:
    script:
        # Install tools
        - pacman --noconfirm -S doxygen mkdocs
        # Create output directory
        - mkdir -p public
        - mkdir -p public/doxygen
        # Build doxygen
        - doxygen doxygen.conf
        # Copy doxygen to its directory
        - cp -r wiki/doxygen/html/* public/doxygen/
        # Build mkdocs wiki
        # - mkdocs build
        # Copy mkdocs wiki to its directory
        # - cp -r wiki/mkdocs/site/* public/
    artifacts:
        paths:
            # The folder that contains the files to be exposed at the Page URL
            - public
    rules:
        # This ensures that only pushes to the default branch will trigger
        # a pages deploy
        - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH