/* Font */
@font-face {
    font-family: NerdFont;
    src: url(UbuntuMonoNerdFontMono-Regular.ttf);
}
/*
 * <body>
 * <div class="index">
 * <h1>Text</h1>
 * </div>
 * </body>
 * body .index h1 {}
 */
/* Base */
body {
    /* Background settings */
    background-color: #1F1F1F;
    /* background-color: #FFFFE6; */
    /* Text settings */
    font-family: 'Times New Roman', Times, serif;
    color: #FFFFE6;
}
/* Title */
body .title {
    /* Text align */
    text-align: center;
    text-align-last: center;
    /* Text settings */
    font-size: 60pt;
    font-style: oblique;
    /* Text propertyes */
    text-shadow: #FC0 1px 0px 10px;
    color: cadetblue;
}
body .title-line hr {
    /* Line style */
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border: 5px double #110f85;
}
/* Separator line */
body .sep-line hr {
    /* Line style */
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #110f85;
}
/* Wiki pages list */
body .wiki-pages ul {
    padding: 1% 5% 1% 5%;
    margin-left: 20%;
    margin-right: 25%;
    border-style: inset;
    border-color: burlywood;
    border-width: thick;
    background: #3d3d3d;
    list-style-type: none;
    display: inline-block;
    width: 50%;
    text-wrap: nowrap;
    white-space:nowrap;
    word-wrap: none;
    overflow-x: scroll;
    -webkit-overflow-scrolling: auto;
    overflow-inline: scroll;
    text-overflow: clip;
    word-break: keep-all;
    overflow-wrap: normal;
    overflow: scroll;
}
body .wiki-pages ul li a {
    text-decoration: none;
    color: #FFFFE6;
    line-height: 150%;
    font-size: x-large;
}
body .wiki-pages :focus {
    outline-style: dotted;
    outline-color: red;
}
/* Footer */
body .footer {
    margin: 10px;
}
body .footer .author {
    /* Border */
    border: 5pt;
    border-style: dotted;
    border-color: burlywood;
    /* Text */
    text-align: center;
    font-size: larger;
    color: #FFFFE6;
}
body .footer .author p a {
    /* Text */
    text-align: center;
    color: #FFFFE6;
}
body .footer .communication {
    /* Border */
    border: 5pt;
    border-style: dotted;
    border-color: burlywood;
    /* Text */
    text-align: center;
    font-size: larger;
    color: #FFFFE6;
}
body .footer .communication p a {
    /* Text */
    text-align: center;
    color: #FFFFE6;
}
body .footer .credits {
    /* Border */
    border: 5pt;
    border-style: dotted;
    border-color: burlywood;
    /* Text */
    text-align: center;
    font-size: larger;
    color: #FFFFE6;
}
body .footer .credits p a {
    /* Text */
    text-align: center;
    color: #FFFFE6;
}
/* File tree view */
body .file-tree {
    border-style: inset;
    border-color: burlywood;
    padding: 5% 5% 5% 5%;
    margin: 5% 5% 5% 5%;
    overflow: scroll;
    background-color: #191919;
    border-width: 5px;
}
body .file-tree pre {
    margin-top: 8%;
    font-size: larger;
    font-family: NerdFont;
}
body .file-tree-head h6 {
    font-size: xx-large;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    font-family: NerdFont;
}
body .file-tree p {
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
    font-size: large;
    font-family: NerdFont;
    margin-bottom: 8%;
}
body .file-tree hr {
    color: burlywood;
}
/* Back button */
body .back {
    text-align: center;
    text-align-last: center;
}
body .back a {
    text-align: center;
    text-align-last: center;
    font-size: xx-large;
    text-decoration: none;
    color: aqua;
    font-weight: 900;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body .back :focus {
    outline-style: dotted;
    outline-color: red;
}
/* Text */
body .text {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    text-justify: inter-word;
}
body .text h6 {
    font-size: xx-large;
    text-align: center;
    padding-bottom: 0%;
    margin-bottom: 3%;
}
body .text hr {
    color: burlywood;
    width: 70%;
}
body .text p {
    text-indent: 5%;
    font-size: larger;
    padding: 1% 5% 1% 5%;
}
body .text .pre-list p {
    text-indent: 5%;
    font-size: larger;
    padding: 1% 5% 1% 5%;
    padding-bottom: 0%;
    margin-bottom: 0%;
}
body .text .list ul {
    margin-top: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 15%;
    padding-right: 10%;
}
body .text .list ul li p {
    text-indent: 0%;
    padding-left: 0%;
}
body .text .code {
    font-family: NerdFont;
    font-size: large;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 0%;
    white-space: pre-line;
}
body .text .code-header p {
    font-family: NerdFont;
    font-size: 15pt;
    white-space: pre-line;
    padding-left: 10%;
    padding-right: 10%;
    text-indent: 0%;
    margin-bottom: 0%;
    text-align: center;
    text-align-last: center;
}
body .text .code pre {
    border-style: inset;
    border-color: burlywood;
    border-width: 5px;
}
body .text h5 {
    font-size: x-large;
    text-align: center;
    padding-bottom: 0%;
    margin-bottom: 3%;
}
body .text .sub-sep-line {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    color: burlywood;
}
