name: Run tests for WolodiaM/CBuild
run-name: ${{ github.actor }} running tests for Wolodiam/CBuild
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
jobs:
  test:
    name: Runs tests on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm, macos-latest, macos-15-intel]
    env:
        ASAN_OPTIONS: exitcode=255
        CBUILD_TEST_LOG_FULL: yes
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install dependencies (Linux)
        if: matrix.os == 'ubuntu-latest' || matrix.os == 'ubuntu-24.04-arm'
        run: |
          sudo apt-get update -qq
          sudo apt-get install -yqq build-essential clang valgrind musl musl-tools
      - name: Build test runner (Linux)
        if: matrix.os == 'ubuntu-latest' || matrix.os == 'ubuntu-24.04-arm'
        run: gcc cbuild.c -o cbuild.run
      - name: Build test runner (MacOS)
        if: matrix.os == 'macos-latest' || matrix.os == 'macos-15-intel'
        run: clang cbuild.c -o cbuild.run
      - name: Build wikimk (check if it builds)
        run: ./cbuild.run docs wikimk
      - name: Run tests
        run: ./cbuild.run test
  test-cygwin:
    name: Runs tests on ${{ matrix.os }} via cygwin
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest] # TODO: windows-11-arm - partner runner, but seems to be free, different setup? No cygwinn-arm
    defaults:
      run:
        shell: bash -l -o pipefail {0}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Cygwin and dependencies
        uses: cygwin/cygwin-install-action@v6
        with:
          packages: gcc make valgrind
      - name: Build test runner
        run: gcc cbuild.c -o cbuild.exe
      - name: Build wikimk (check if it builds)
        run: ./cbuild.exe docs wikimk
      - name: Run tests
        run: ./cbuild.exe test