name: Run tests for WolodiaM/CBuild
run-name: ${{ github.actor }} running tests for Wolodiam/CBuild
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
jobs:
  test:
    name: Runs tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt-get update -qq
          sudo apt-get install -yqq build-essential clang valgrind musl musl-tools
      - name: Build test runner
        run: gcc cbuild.c -o cbuild.run
      - name: Run tests
        run: ./cbuild.run test
